### Amazon Electronics Analysis

In [1]:
import pandas as pd
import numpy as np
import json
import gzip
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
import re

In [2]:
# Create Spark session 
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

sc = spark.sparkContext

23/06/06 18:29:43 WARN Utils: Your hostname, MBP.local resolves to a loopback address: 127.0.0.1; using 192.168.0.29 instead (on interface en0)
23/06/06 18:29:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/06 18:29:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Meta electronics file for price data

View first few rows of JSON:

In [3]:
N = 3
with open("meta_Electronics.json") as f:
    for i in range(0,N):
        print(f.readline(), end = '')

{"category": ["Electronics", "Camera &amp; Photo", "Video Surveillance", "Surveillance Systems", "Surveillance DVR Kits"], "tech1": "", "description": ["The following camera brands and models have been tested for compatibility with GV-Software.\nGeoVision \tACTi \tArecont Vision \tAXIS \tBosch \tCanon\nCNB \tD-Link \tEtroVision \tHikVision \tHUNT \tIQEye\nJVC \tLG \tMOBOTIX \tPanasonic \tPelco \tSamsung\nSanyo \tSony \tUDP \tVerint \tVIVOTEK \t \n \nCompatible Standard and Protocol\nGV-System also allows for integration with all other IP video devices compatible with ONVIF(V2.0), PSIA (V1.1) standards, or RTSP protocol.\nONVIF \tPSIA \tRTSP \t  \t  \t \nNote: Specifications are subject to change without notice. Every effort has been made to ensure that the information on this Web site is accurate. No liability is assumed for incidental or consequential damages arising from the use of the information or products contained herein."], "fit": "", "title": "Genuine Geovision 1 Channel 3rd Party NVR IP Software with USB Dongle Onvif PSIA", "also_buy": [], "tech2": "", "brand": "GeoVision", "feature": ["Genuine Geovision 1 Channel NVR IP Software", "Support 3rd Party IP Camera", "USB Dongle"], "rank": [">#3,092 in Tools &amp; Home Improvement &gt; Safety &amp; Security &gt; Home Security &amp; Surveillance &gt; Complete Surveillance Systems &gt; Surveillance DVR Kits", ">#5,010 in Tools &amp; Home Improvement &gt; Safety &amp; Security &gt; Home Security &amp; Surveillance &gt; Surveillance Video Equipment"], "also_view": [], "main_cat": "Camera &amp; Photo", "similar_item": "", "date": "January 28, 2014", "price": "$65.00", "asin": "0011300000", "imageURL": ["https://images-na.ssl-images-amazon.com/images/I/411uoWa89KL._SS40_.jpg"], "imageURLHighRes": ["https://images-na.ssl-images-amazon.com/images/I/411uoWa89KL.jpg"]}
{"category": ["Electronics", "Camera &amp; Photo"], "tech1": "", "description": ["This second edition of the Handbook of Astronomical Image Processing (HAIP) and its integral AIP for Windows 2.0 image processing software (AIP4Win2.0) addresses many important changes that have taken place in astronomical imaging since the publication of the first edition.  Today's affordable astro-imaging capable digital single-lens-reflex cameras (DSLRs), the growing power of personal computers, and the proliferation of telescopes and imaging accessories has brought imaging capabilities within the reach of practically every amateur astronomer - and this second edition of the Handbook plus AIP4Win 2.0 is ready, willing, and able to assist every observer in making great astronomical images.  In the Handbook, we amplified the original chapters on astronomical equipment and imaging techniques, revised our discussions of astrometry and photometry to reflect the steady growth in these scientific fields, and expanded tutorials in the back of the book to help you get up to speed quickly.  On the accompanying CDROM (found on the inside back cover) you will find hundreds of megabytes of sample images you can use to learn techniques such as image registration and stacking that guarantee good results even from those living with suburban and urban skies.  Also new are comprehensive chapters on color imaging with astronomical CCD cameras and processing color images from digital cameras, and photon-counting fundamentals every serious astro-imager needs to"], "fit": "", "title": "Books \"Handbook of Astronomical Image Processing\" with CD ROM, 2nd Edition, Hardcover Book by Berry &amp; Burnell", "also_buy": ["0999470906"], "tech2": "", "brand": "33 Books Co.", "feature": ["Detailed chapters cover these fundamental topics:", "Basic imaging: How the light that falls on your CCD becomes an image. Covers image formation, cameras, telescopes, detectors, sensor geometry, image capture,field of view, and angluar coverage.", "Counting Photons: \"Astronomy is about counting photons....\" Covers signal, noise, the signal-to-noise ratio, the Poisson and Gaussian distributions and whythey matter, making better pictures by summing images, and how dark frames and flat frames effect the signal and noise in your images.", "Digital Image Formats: Covers the file formats that astronomers use, including FITS, TIFF, BMP, and JPEG. Learn file format basics, how your image data is arranged inside the file on your computer's hard disk.", "Imaging Tools: All about sensors, optics, cameras, and telescopes. Explains how to calculate the field of view and resolution of your system, telescope optics for imagers, auxiliary optics, mounts, drives, tracking, filters, and how to recognize and correct common equipment problems."], "rank": [">#55,933 in Camera &amp; Photo (See Top 100 in Camera &amp; Photo)", ">#90,232 in Electronics &gt; Camera &amp; Photo"], "also_view": ["0943396670", "1138055360", "0999470906"], "main_cat": "Camera &amp; Photo", "similar_item": "", "date": "June 17, 2003", "price": "", "asin": "0043396828", "imageURL": ["https://images-na.ssl-images-amazon.com/images/I/51BjDGZhNvL._SS40_.jpg"], "imageURLHighRes": ["https://images-na.ssl-images-amazon.com/images/I/51BjDGZhNvL.jpg"]}
{"category": ["Electronics", "eBook Readers &amp; Accessories", "eBook Readers"], "tech1": "", "description": ["A zesty tale. (Publishers Weekly)<br /><br />Garcia Aguilera creates human characters we can empathize with. (Fort Lauderdale Sun-Sentinel)<br /><br />Tropical politics, culture and identity...are at the center of One Hot Summer. (Fort Lauderdale Sun-Sentinel)", "", "Carolina Garcia-Aguilera is the author of the much-lauded <em>One Hot Summer</em> as well as the Lupe Solano mystery series. She was a private investigator for more than fifteen years before turning to writing full-time in 1996, The recipient of the Flamingo Award in 1999 and the Shamus Award in 2000, Ms. Garcia-Aguilera lives in Miami Beach.", "", "", ""], "fit": "", "title": "One Hot Summer", "also_buy": ["0425167798", "039914157X"], "tech2": "", "brand": "Visit Amazon's Carolina Garcia Aguilera Page", "feature": [], "rank": "3,105,177 in Books (", "also_view": [], "main_cat": "Books", "similar_item": "", "date": "", "price": "$11.49", "asin": "0060009810", "imageURL": [], "imageURLHighRes": []}

[Generate Schema](https://preetranjan.github.io/pyspark-schema-generator/) and Load into spark dataframe:

In [4]:
schema = StructType([StructField('category',ArrayType(StringType()),True),  
StructField('tech1',StringType(),True),  
StructField('description',ArrayType(StringType()),True),  
StructField('fit',StringType(),True),  
StructField('title',StringType(),True),  
StructField('also_buy',ArrayType(StringType()),True),  
StructField('tech2',StringType(),True),  
StructField('brand',StringType(),True),  
StructField('feature',ArrayType(StringType()),True),  
StructField('rank',ArrayType(StringType()),True),  
StructField('also_view',ArrayType(StringType()),True),  
StructField('main_cat',StringType(),True),  
StructField('similar_item',StringType(),True),  
StructField('date',StringType(),True),  
StructField('price',StringType(),True),  
StructField('asin',StringType(),True),  
StructField('imageURL',ArrayType(StringType()),True),  
StructField('imageURLHighRes',ArrayType(StringType()),True)])

Schema required some editing, added `StringType()` as parameter in some `ArrayType()` fields that had `null` as parameter.

In [5]:
meta_elect_df = spark \
    .read \
    .format("json") \
    .load("meta_Electronics.json", schema = schema)

meta_elect_df.printSchema()

root
 |-- category: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- tech1: string (nullable = true)
 |-- description: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- fit: string (nullable = true)
 |-- title: string (nullable = true)
 |-- also_buy: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- tech2: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- feature: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- rank: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- also_view: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- main_cat: string (nullable = true)
 |-- similar_item: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: string (nullable = true)
 |-- asin: string (nullable = true)
 |-- imageURL: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- imageURLHighRes: array (nullable = true)
 |    |-- element: string (containsNull = true)

Check partitions:

In [6]:
meta_elect_df.rdd.getNumPartitions()

82

Check size:

In [7]:
print((meta_elect_df.count(), len(meta_elect_df.columns)))

(786445, 18)

Looks like a few hundred rows are missing (minor %). Website lists 786,868 products

Look at data:

In [8]:
meta_elect_df.show()

+--------------------+-----+--------------------+---+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+----------+--------------------+--------------------+
|            category|tech1|         description|fit|               title|            also_buy|tech2|               brand|             feature|                rank|           also_view|            main_cat|        similar_item|              date|               price|      asin|            imageURL|     imageURLHighRes|
+--------------------+-----+--------------------+---+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+----------+--------------------+--------------------+
|[Electronics, Cam...|     |[The following ca...|   |Genuine Geovision...|                  []|     |           GeoVision|[Genuine Geovisio...|[>#3,092 in Tools...|                  []|  Camera &amp; Photo|                    |  January 28, 2014|              $65.00|0011300000|[https://images-n...|[https://images-n...|
|[Electronics, Cam...|     |[This second edit...|   |Books "Handbook o...|        [0999470906]|     |        33 Books Co.|[Detailed chapter...|[>#55,933 in Came...|[0943396670, 1138...|  Camera &amp; Photo|                    |     June 17, 2003|                    |0043396828|[https://images-n...|[https://images-n...|
|[Electronics, eBo...|     |[A zesty tale. (P...|   |      One Hot Summer|[0425167798, 0399...|     |Visit Amazon's Ca...|                  []|                null|                  []|               Books|                    |                  |              $11.49|0060009810|                  []|                  []|
|[Electronics, eBo...|     |                  []|   |Hurray for Hattie...|[0060219521, 0060...|     |Visit Amazon's Di...|                  []|                null|[0060219521, 0060...|               Books|                    |                  |.a-section.a-spac...|0060219602|                  []|                  []|
|[Electronics, eBo...|     |[&#8220;sex.lies....|   |sex.lies.murder.f...|                  []|     |Visit Amazon's Lo...|                  []|                null|                  []|               Books|                    |                  |              $13.95|0060786817|                  []|                  []|
|[Electronics, eBo...|     |                [, ]|   |     College Physics|[0073049557, 0134...|     |Visit Amazon's Al...|                  []|                null|[0073512141, 0077...|               Books|                    |                  |                    |0070524076|                  []|                  []|
|[Electronics, eBo...|     |[GIRL WITH A ONE-...|   |Girl with a One-t...|        [0330509691]|     |            ABBY LEE|                  []|                null|        [B0719LDQR1]|               Books|                    |                  |               $4.76|0091912407|                  []|                  []|
|[Electronics, Por...|     |[Support system: ...|   |abcGoodefg&reg; 4...|[B01NAJ3KQB, B00W...|     |          Crazy Cart|[Package Content:...|[>#177,454 in Ele...|[B01NAJ3KQB, B00O...|     All Electronics| class="a-bordere...| December 28, 2012|                    |0101635370|[https://images-n...|[https://images-n...|
|[Electronics, Hea...|     |[, <b>True High D...|   |Wireless Bluetoot...|                  []|     |     Enter The Arena|[Superb Sound Qua...|[>#950 in Cell Ph...|                  []|Home Audio & Theater|                    |  October 23, 2017|               $7.99|0132492776|[https://images-n...|[https://images-n...|
|[Electronics, Com...|     |                  []|   |Kelby Training DV...|                  []|     |      Kelby Training|                  []|[>#932,732 in Com...|                  []|           Computers|                    |  December 9, 2011|                    |0132793040|[https://images-n...|[https://images-n...|
|[Electronics, eBo...|     |[Claire Messud's ...|   |The Last Life: A ...|[0307596907, 0307...|     |Visit Amazon's Cl...|                  []|                null|[0393356051, 0307...|               Books|                    |                  |              $13.81|0151004714|                  []|                  []|
|[Electronics, eBo...|     |[In this gleeful,...|   |        Lady Lazarus|                  []|     |Visit Amazon's An...|                  []|                null|        [1582436010]|               Books|                    |                  |               $5.79|0151014841|                  []|                  []|
|[Electronics, Acc...|     |[, This book is a...|   |Practical Modern ...|[0736083723, 0205...|     |      John R. Wooden|                  []|                null|[1933538511, 0805...|               Books|                    |                  |                    |0205291252|                  []|                  []|
|[Electronics, Com...|     |[Brand SAMSUNG Sp...|   |SAMSUNG Evo Plus ...|                  []|     |             Samsung|[64 GB MicroSDHC ...|[>#677,490 in Cel...|                  []|           Computers|                    |     July 22, 2016|                    |0246003235|[https://images-n...|[https://images-n...|
|[Electronics, eBo...|     |                  []|   |BOOX Max Carta Er...|                  []|     |                BOOX|[Excellent Pinch ...|[>#264,331 in Ele...|[B077GVLMJN, B07B...|     All Electronics| class="a-bordere...|     June 30, 2016|                    |0285175270|[https://images-n...|[https://images-n...|
|[Electronics, Cam...|     |[TDK Hi8 MP120 Pr...|   |TDK Hi8 MP120 Pre...|                  []|     |TDK Electronics Corp|                  []|[>#79 in Electron...|[B00009VX8C, B000...|Home Audio &amp; ...| class="a-bordere...|   August 22, 2014|              $48.99|0303532572|[https://images-n...|[https://images-n...|
|[Electronics, Acc...|     |[While Frodo &amp...|   |The Lord of the R...|[B00009TB5G, B000...|     |                  WB|[Actors: Orlando ...|[>#359,908 in Ele...|                  []|Home Audio &amp; ...|                    |September 16, 2016|                    |0302643370|[https://images-n...|[https://images-n...|
|[Electronics, eBo...|     |[Featuring a line...|   |Linen-Look Patter...|        [B000OWOS1Q]|     |Visit Amazon's Zo...|                  []|                null|                  []|               Books|                    |                  |                    |0310810515|                  []|                  []|
|[Electronics, eBo...|     |[YA?Life in Thoma...|   |The Angel Doll: A...|[1878086804, 0060...|     |Visit Amazon's Je...|                  []|                null|[1878086804, B000...|               Books|                    |                  |               $3.98|0312171048|                  []|                  []|
|[Electronics, eBo...|     |[Edgar-finalist H...|   |        Scared Money|[0312534868, 0312...|     |          James Hime|                  []|                null|                  []|               Books|                    |                  |              $12.78|0312331363|                  []|                  []|
+--------------------+-----+--------------------+---+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+----------+--------------------+--------------------+
only showing top 20 rows

Pick columns we want:

In [9]:
cols_to_use = ['asin', 'brand', 'main_cat', 'price', 'title']
meta_elect_df.select(cols_to_use).show()

+----------+--------------------+--------------------+--------------------+--------------------+
|      asin|               brand|            main_cat|               price|               title|
+----------+--------------------+--------------------+--------------------+--------------------+
|0011300000|           GeoVision|  Camera &amp; Photo|              $65.00|Genuine Geovision...|
|0043396828|        33 Books Co.|  Camera &amp; Photo|                    |Books "Handbook o...|
|0060009810|Visit Amazon's Ca...|               Books|              $11.49|      One Hot Summer|
|0060219602|Visit Amazon's Di...|               Books|.a-section.a-spac...|Hurray for Hattie...|
|0060786817|Visit Amazon's Lo...|               Books|              $13.95|sex.lies.murder.f...|
|0070524076|Visit Amazon's Al...|               Books|                    |     College Physics|
|0091912407|            ABBY LEE|               Books|               $4.76|Girl with a One-t...|
|0101635370|          Crazy Cart|     All Electronics|                    |abcGoodefg&reg; 4...|
|0132492776|     Enter The Arena|Home Audio & Theater|               $7.99|Wireless Bluetoot...|
|0132793040|      Kelby Training|           Computers|                    |Kelby Training DV...|
|0151004714|Visit Amazon's Cl...|               Books|              $13.81|The Last Life: A ...|
|0151014841|Visit Amazon's An...|               Books|               $5.79|        Lady Lazarus|
|0205291252|      John R. Wooden|               Books|                    |Practical Modern ...|
|0246003235|             Samsung|           Computers|                    |SAMSUNG Evo Plus ...|
|0285175270|                BOOX|     All Electronics|                    |BOOX Max Carta Er...|
|0303532572|TDK Electronics Corp|Home Audio &amp; ...|              $48.99|TDK Hi8 MP120 Pre...|
|0302643370|                  WB|Home Audio &amp; ...|                    |The Lord of the R...|
|0310810515|Visit Amazon's Zo...|               Books|                    |Linen-Look Patter...|
|0312171048|Visit Amazon's Je...|               Books|               $3.98|The Angel Doll: A...|
|0312331363|          James Hime|               Books|              $12.78|        Scared Money|
+----------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

We only want rows with prices:

In [10]:
expr = '\$.*' #Regex for anything that starts with a dollar sign ($)

#Filter with regex
meta_elect_df = meta_elect_df.filter(meta_elect_df.price.rlike(expr)).select(cols_to_use)
meta_elect_df.show()

+----------+--------------------+--------------------+---------+--------------------+
|      asin|               brand|            main_cat|    price|               title|
+----------+--------------------+--------------------+---------+--------------------+
|0011300000|           GeoVision|  Camera &amp; Photo|   $65.00|Genuine Geovision...|
|0060009810|Visit Amazon's Ca...|               Books|   $11.49|      One Hot Summer|
|0060786817|Visit Amazon's Lo...|               Books|   $13.95|sex.lies.murder.f...|
|0091912407|            ABBY LEE|               Books|    $4.76|Girl with a One-t...|
|0132492776|     Enter The Arena|Home Audio & Theater|    $7.99|Wireless Bluetoot...|
|0151004714|Visit Amazon's Cl...|               Books|   $13.81|The Last Life: A ...|
|0151014841|Visit Amazon's An...|               Books|    $5.79|        Lady Lazarus|
|0303532572|TDK Electronics Corp|Home Audio &amp; ...|   $48.99|TDK Hi8 MP120 Pre...|
|0312171048|Visit Amazon's Je...|               Books|    $3.98|The Angel Doll: A...|
|0312331363|          James Hime|               Books|   $12.78|        Scared Money|
|0312364415|Visit Amazon's St...|               Books|    $3.25|A Stranger Lies T...|
|0314185550|             BAR/BRI|               Books|    $3.00|BARBRI First Year...|
|0323230008|           GeoVision|  Camera &amp; Photo|$2,080.00|Genuine Geovision...|
|0375503757|Visit Amazon's Lu...|               Books|    $9.90|What She Saw...: ...|
|0375505458|Visit Amazon's Wh...|               Books|    $7.00|A Collection of B...|
|0380812916|Visit Amazon's Is...|               Books|    $9.07|Tokyo Suckerpunch...|
|0385671539|       Brian Francis|               Books|   $32.95|       Natural Order|
|0385666535|Visit Amazon's Da...|               Books|    $4.98|Incidents in the ...|
|0446576476|Visit Amazon's Ch...|               Books|   $19.99|    Plenty Good Room|
|0446697192|Visit Amazon's Zo...|               Books|   $17.99|Hollywood Is like...|
+----------+--------------------+--------------------+---------+--------------------+
only showing top 20 rows

In [11]:
# Check dimensions
print((meta_elect_df.count(), len(meta_elect_df.columns)))

(304323, 5)

Looks like about half of the meta datset has prices.

### Electronics data subset (5-core)

Read first few lines of JSON:

In [12]:
# Loading entire 4 gig file into 8GB of available ram...not good.....major slow downs.

N = 3
with open("Electronics_5.json") as f:
    for i in range(0,N):
        print(f.readline(), end = '')

{"overall": 5.0, "vote": "67", "verified": true, "reviewTime": "09 18, 1999", "reviewerID": "AAP7PPBU72QFM", "asin": "0151004714", "style": {"Format:": " Hardcover"}, "reviewerName": "D. C. Carrad", "reviewText": "This is the best novel I have read in 2 or 3 years.  It is everything that fiction should be -- beautifully written, engaging, well-plotted and structured.  It has several layers of meanings -- historical, family,  philosophical and more -- and blends them all skillfully and interestingly.  It makes the American grad student/writers' workshop \"my parents were  mean to me and then my professors were mean to me\" trivia look  childish and silly by comparison, as they are.\nAnyone who says this is an  adolescent girl's coming of age story is trivializing it.  Ignore them.  Read this book if you love literature.\nI was particularly impressed with  this young author's grasp of the meaning and texture of the lost world of  French Algeria in the 1950's and '60's...particularly poignant when read in  1999 from another ruined and abandoned French colony, amid the decaying  buildings of Phnom Penh...\nI hope the author will write many more books  and that her publishers will bring her first novel back into print -- I  want to read it.  Thank you, Ms. Messud, for writing such a wonderful work.", "summary": "A star is born", "unixReviewTime": 937612800}
{"overall": 3.0, "vote": "5", "verified": true, "reviewTime": "10 23, 2013", "reviewerID": "A2E168DTVGE6SV", "asin": "0151004714", "style": {"Format:": " Kindle Edition"}, "reviewerName": "Evy", "reviewText": "Pages and pages of introspection, in the style of writers like Henry James.  I like this kind of  novels and the writer occasionally delights me with her descriptions and observations.  But it's way too repetitious for me and, I think, some parts could have been cut out while still preserving, and probably more tightly crystallizing, the themes and \"truths\" within the story.\n\nIt's a story I could relate to but I wish it hadn't been too tedious to read.", "summary": "A stream of consciousness novel", "unixReviewTime": 1382486400}
{"overall": 5.0, "vote": "4", "verified": false, "reviewTime": "09 2, 2008", "reviewerID": "A1ER5AYS3FQ9O3", "asin": "0151004714", "style": {"Format:": " Paperback"}, "reviewerName": "Kcorn", "reviewText": "This is the kind of novel to read when you have time to lose yourself in a book for days, possibly weeks. I had to go back and reread it as soon as I finished it because it is so rich in historical and psychological  details, particularly themes centering on painful family dynamics and history.\n\nPotential readers of this novel by Claire Messud should know it isn't exactly a sunny, bouncy work. If you are looking for that you'll want to look elsewhere. It also moves between countries, including sections based in France, the U.S. and Algeria.\n\nThe focus of the novel is the LaBasse family and the story is told from the viewpoint of Sagesse, a woman who conveys the weight of a turbulent family history. Starting with Sagesse's grandfather, a man who owns the Hotel Bellevue in France,the family dynamics begin to play themselves out, connecting to larger themes of France and Algeria's history as well, with stunning consequences.\n\nSagesse's parents, Alex and Carol, reveal plenty about the kind of problems that can arise when there are cross-cultural challenges to face in a marriage. Carol, coming from America, marries Alex, but is unable to see the potential sacrifices and problems she'll face as she moves overseas to live with her husband...or the impact the marriage will have on her daughter and the rest of the family, including a handicapped son.\n\n It is a bit hard to categorize this book because it covers so many areas. It is part mystery because Sagesse is trying to separate truth from myth when figuring out her family's history. It is part suspense because of Sagesse's short love affair and a moment of violence (and I don't want to give the details of that moment or I'll spoil it for you). It is also a historical novel, rich with information about events in Algeria and France and the United States.\n\nFor me, also, this one centers on themes of personal identity and displacement,primarily for Sagesse, a woman trying to figure out where she belongs in the world and how to make peace with her difficult family as well as coming to grips with history's impact on her family.", "summary": "I'm a huge fan of the author and this one did not disappoint", "unixReviewTime": 1220313600}

Copy first row of JSON output above and use [Schema Generator](https://preetranjan.github.io/pyspark-schema-generator/) to create schema below:

In [13]:
schema = StructType([StructField('overall',FloatType(),True),  # Changed to FloatType from StringType
    StructField('vote',StringType(),True),  
    StructField('verified',BooleanType(),True),  
    StructField('reviewTime',StringType(),True),  
    StructField('reviewerID',StringType(),True),  
    StructField('asin',StringType(),True),  
    StructField('style',StructType([StructField('Format:',StringType(),True)]),True),  
    StructField('reviewerName',StringType(),True),  
    StructField('reviewText',StringType(),True),  
    StructField('summary',StringType(),True),  
    StructField('unixReviewTime',IntegerType(),True)])

Use schema so spark does not have to infer:

In [14]:
# 5 core electronics data
e5_core_df = spark \
    .read \
    .json("Electronics_5.json", schema = schema)

e5_core_df.printSchema()

root
 |-- overall: float (nullable = true)
 |-- vote: string (nullable = true)
 |-- verified: boolean (nullable = true)
 |-- reviewTime: string (nullable = true)
 |-- reviewerID: string (nullable = true)
 |-- asin: string (nullable = true)
 |-- style: struct (nullable = true)
 |    |-- Format:: string (nullable = true)
 |-- reviewerName: string (nullable = true)
 |-- reviewText: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- unixReviewTime: integer (nullable = true)

Show data:

In [15]:
e5_core_df.show()

+-------+----+--------+-----------+--------------+----------+-----------------+--------------------+--------------------+--------------------+--------------+
|overall|vote|verified| reviewTime|    reviewerID|      asin|            style|        reviewerName|          reviewText|             summary|unixReviewTime|
+-------+----+--------+-----------+--------------+----------+-----------------+--------------------+--------------------+--------------------+--------------+
|    5.0|  67|    true|09 18, 1999| AAP7PPBU72QFM|0151004714|     { Hardcover}|        D. C. Carrad|This is the best ...|      A star is born|     937612800|
|    3.0|   5|    true|10 23, 2013|A2E168DTVGE6SV|0151004714|{ Kindle Edition}|                 Evy|Pages and pages o...|A stream of consc...|    1382486400|
|    5.0|   4|   false| 09 2, 2008|A1ER5AYS3FQ9O3|0151004714|     { Paperback}|               Kcorn|This is the kind ...|I'm a huge fan of...|    1220313600|
|    5.0|  13|   false| 09 4, 2000|A1T17LMQABMBN5|0151004714|     { Hardcover}|     Caf Girl Writes|What gorgeous lan...|The most beautifu...|     968025600|
|    3.0|   8|    true| 02 4, 2000|A3QHJ0FXK33OBE|0151004714|     { Hardcover}|    W. Shane Schmidt|I was taken in by...|A dissenting view...|     949622400|
|    4.0|null|    true| 06 5, 2013|A3IYSOTP3HA77N|0380709473|{ Kindle Edition}|            B. Marks|I read this proba...|Above average mys...|    1370390400|
|    5.0|null|    true|06 27, 2016|A11SXV34PZUQ5E|0380709473|{ Kindle Edition}|              Tom C.|I read every Perr...|        Lam is cool!|    1466985600|
|    5.0|null|    true|07 30, 2015|A2AUQM1HT2D5T8|0380709473|{ Kindle Edition}|                 ema|I love this serie...|          Five Stars|    1438214400|
|    5.0|null|    true|02 16, 2015|A3UD8JRWLX6SRX|0380709473|     { Paperback}|          Michael O.|         Great read!|          Five Stars|    1424044800|
|    4.0|null|   false|11 21, 2013|A3MV1KKHX51FYT|0380709473|     { Paperback}|      Acute Observer|Crows Can't Count...|A Fast and Far Mo...|    1384992000|
|    5.0|null|   false|07 14, 2009|A3LXXYBYUHZWS5|0446697192|     { Paperback}|        Monie Garcia|Fresh from Connec...|    A quick fun read|    1247529600|
|    5.0|null|   false|07 10, 2009|A1X4L7AO1BXMHK|0446697192|     { Paperback}|             Deborah|I don't know abou...|  A Great Beach Read|    1247184000|
|    3.0|null|   false| 09 2, 2009|A1Y9RUTH5GG3MU|0446697192|     { Paperback}|            D. Quinn|Obviously the pre...|Quick & fun summe...|    1251849600|
|    4.0|null|   false|08 30, 2009| AAR8E3JF9K93P|0446697192|     { Paperback}|                Tina|I am very happy t...|Perfect beach/end...|    1251590400|
|    4.0|   2|   false|07 29, 2009|A277GP2U2TXH51|0446697192|     { Paperback}|           grumpydan|"Hollywood is Lik...|    Funny and Quirky|    1248825600|
|    4.0|null|   false|07 28, 2009|A19KLUZ1XD3SRN|0446697192|     { Paperback}|Gaby at Starting ...|Synopsis:\n\nTayl...|Fun, satisfying, ...|    1248739200|
|    2.0|  12|   false|04 14, 2014|A3J3BRHTDRFJ2G|0511189877|             null|            EJ Honda|This remote, for ...| Ergonomic nightmare|    1397433600|
|    5.0|null|    true|05 31, 2017| A7362LXMQEM6W|0511189877|             null|      Online shopper|Worked out of the...|     Paid full price|    1496188800|
|    2.0|null|   false|11 11, 2016| A2OSUEZJIN7BI|0511189877|             null|               Chris|I have an older U...|        Cannot Learn|    1478822400|
|    5.0|null|   false|10 29, 2016|A1917RO9OGLVT9|0511189877|             null|             Spicoli|        Works great!|          Five Stars|    1477699200|
+-------+----+--------+-----------+--------------+----------+-----------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

Check partitions:

In [16]:
e5_core_df.rdd.getNumPartitions()

32

Check shape:

In [17]:
print((e5_core_df.count(), len(e5_core_df.columns)))

(6739590, 11)

Same number of rows as described on dataset website. Now to pick the columns that we want:

In [18]:
cols_to_use = ['asin', 'overall', 'reviewTime', 'reviewerID', 'reviewText', 'summary']
e5_core_df = e5_core_df.select(cols_to_use)
e5_core_df.show()

+----------+-------+-----------+--------------+--------------------+--------------------+
|      asin|overall| reviewTime|    reviewerID|          reviewText|             summary|
+----------+-------+-----------+--------------+--------------------+--------------------+
|0151004714|    5.0|09 18, 1999| AAP7PPBU72QFM|This is the best ...|      A star is born|
|0151004714|    3.0|10 23, 2013|A2E168DTVGE6SV|Pages and pages o...|A stream of consc...|
|0151004714|    5.0| 09 2, 2008|A1ER5AYS3FQ9O3|This is the kind ...|I'm a huge fan of...|
|0151004714|    5.0| 09 4, 2000|A1T17LMQABMBN5|What gorgeous lan...|The most beautifu...|
|0151004714|    3.0| 02 4, 2000|A3QHJ0FXK33OBE|I was taken in by...|A dissenting view...|
|0380709473|    4.0| 06 5, 2013|A3IYSOTP3HA77N|I read this proba...|Above average mys...|
|0380709473|    5.0|06 27, 2016|A11SXV34PZUQ5E|I read every Perr...|        Lam is cool!|
|0380709473|    5.0|07 30, 2015|A2AUQM1HT2D5T8|I love this serie...|          Five Stars|
|0380709473|    5.0|02 16, 2015|A3UD8JRWLX6SRX|         Great read!|          Five Stars|
|0380709473|    4.0|11 21, 2013|A3MV1KKHX51FYT|Crows Can't Count...|A Fast and Far Mo...|
|0446697192|    5.0|07 14, 2009|A3LXXYBYUHZWS5|Fresh from Connec...|    A quick fun read|
|0446697192|    5.0|07 10, 2009|A1X4L7AO1BXMHK|I don't know abou...|  A Great Beach Read|
|0446697192|    3.0| 09 2, 2009|A1Y9RUTH5GG3MU|Obviously the pre...|Quick & fun summe...|
|0446697192|    4.0|08 30, 2009| AAR8E3JF9K93P|I am very happy t...|Perfect beach/end...|
|0446697192|    4.0|07 29, 2009|A277GP2U2TXH51|"Hollywood is Lik...|    Funny and Quirky|
|0446697192|    4.0|07 28, 2009|A19KLUZ1XD3SRN|Synopsis:\n\nTayl...|Fun, satisfying, ...|
|0511189877|    2.0|04 14, 2014|A3J3BRHTDRFJ2G|This remote, for ...| Ergonomic nightmare|
|0511189877|    5.0|05 31, 2017| A7362LXMQEM6W|Worked out of the...|     Paid full price|
|0511189877|    2.0|11 11, 2016| A2OSUEZJIN7BI|I have an older U...|        Cannot Learn|
|0511189877|    5.0|10 29, 2016|A1917RO9OGLVT9|        Works great!|          Five Stars|
+----------+-------+-----------+--------------+--------------------+--------------------+
only showing top 20 rows


Next up is to merge price with the data subset on `asin`.

### Merge data (primary key = asin)

Left join to get meta data:

In [19]:
elect_df = e5_core_df.join(meta_elect_df, on = 'asin', how = 'left')
elect_df.show()
# print('5 core dataset: ', (e5_core_df.count(), len(e5_core_df.columns)))
# print('Joined dataset: ', (elect_df.count(), len(elect_df.columns)))

+----------+-------+-----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
|      asin|overall| reviewTime|    reviewerID|          reviewText|             summary|               brand|          main_cat|  price|               title|
+----------+-------+-----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
|0446697192|    5.0|07 14, 2009|A3LXXYBYUHZWS5|Fresh from Connec...|    A quick fun read|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    5.0|07 10, 2009|A1X4L7AO1BXMHK|I don't know abou...|  A Great Beach Read|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    3.0| 09 2, 2009|A1Y9RUTH5GG3MU|Obviously the pre...|Quick & fun summe...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|08 30, 2009| AAR8E3JF9K93P|I am very happy t...|Perfect beach/end...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|07 29, 2009|A277GP2U2TXH51|"Hollywood is Lik...|    Funny and Quirky|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|07 28, 2009|A19KLUZ1XD3SRN|Synopsis:\n\nTayl...|Fun, satisfying, ...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|B000NOEDGK|    5.0| 09 5, 2013|A195EZSQDW3E21|Few electronic pr...|Fantastic Camera ...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|06 23, 2013|A31AX66K0TX9RE|I got this item f...|        AWESOME DEAL|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|05 30, 2013| A1SQ6W1WC94E4|After using my D4...|   After 4 years use|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|03 13, 2013|A2FLZMVFJS231L|I've had this cam...|  Trustly little gem|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|08 23, 2011| A4EOR1UV8KU93|This is my second...|This camera does ...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    1.0|07 23, 2011|A24YECGN7T5C98|My camera never w...|Unreliable, takes...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    4.0|10 28, 2010|A1KKKKEPUETSGS|Light weight easy...|           Nice DSLR|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|10 12, 2010| A27BPO6VUGDGR|                bien|          Five Stars|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0| 11 3, 2009|A2NVQZ4Y7Y0J1R|The D40x has been...|Still a great cam...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B00361EZUQ|    3.0| 11 2, 2010| ASRMT0X0G4UU2|I ordered a i5 im...|mid 2010 yellow t...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    4.0|10 24, 2010|A3LB9PHFGNDC4B|This iMac replace...|      Great purchase|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    5.0| 10 2, 2010| ANW52NKL43W1S|I do a lot of pho...|First Time iMac B...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    5.0| 09 6, 2010| A36C22168X6UQ|After 25+ years o...|My first Mac, lov...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    4.0| 09 6, 2010|A1JUBRIZMO0RJV|I anxiously await...|Solid, Quick Mac,...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
+----------+-------+-----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
only showing top 20 rows

### Clean dates (reviewTime):

In [20]:
# udf with Regex


# # Second pass to remove spaces - Doesn't appear to be working

# First pass to remove commas and add dashes
elect_df = elect_df \
    .withColumn('reviewTime', regexp_replace(col('reviewTime'),'(\s|, )','-')) \
    .withColumn('reviewTime', trim(col('reviewTime'))) # Second pass to remove spaces - Doesn't appear to be working


elect_df.show()

+----------+-------+----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
|      asin|overall|reviewTime|    reviewerID|          reviewText|             summary|               brand|          main_cat|  price|               title|
+----------+-------+----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
|0446697192|    5.0|07-14-2009|A3LXXYBYUHZWS5|Fresh from Connec...|    A quick fun read|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    5.0|07-10-2009|A1X4L7AO1BXMHK|I don't know abou...|  A Great Beach Read|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    3.0| 09-2-2009|A1Y9RUTH5GG3MU|Obviously the pre...|Quick & fun summe...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|08-30-2009| AAR8E3JF9K93P|I am very happy t...|Perfect beach/end...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|07-29-2009|A277GP2U2TXH51|"Hollywood is Lik...|    Funny and Quirky|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|0446697192|    4.0|07-28-2009|A19KLUZ1XD3SRN|Synopsis:\n\nTayl...|Fun, satisfying, ...|Visit Amazon's Zo...|             Books| $17.99|Hollywood Is like...|
|B000NOEDGK|    5.0| 09-5-2013|A195EZSQDW3E21|Few electronic pr...|Fantastic Camera ...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|06-23-2013|A31AX66K0TX9RE|I got this item f...|        AWESOME DEAL|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|05-30-2013| A1SQ6W1WC94E4|After using my D4...|   After 4 years use|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|03-13-2013|A2FLZMVFJS231L|I've had this cam...|  Trustly little gem|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|08-23-2011| A4EOR1UV8KU93|This is my second...|This camera does ...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    1.0|07-23-2011|A24YECGN7T5C98|My camera never w...|Unreliable, takes...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    4.0|10-28-2010|A1KKKKEPUETSGS|Light weight easy...|           Nice DSLR|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0|10-12-2010| A27BPO6VUGDGR|                bien|          Five Stars|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B000NOEDGK|    5.0| 11-3-2009|A2NVQZ4Y7Y0J1R|The D40x has been...|Still a great cam...|               Nikon|Camera &amp; Photo|$189.99|Nikon D40x 10.2MP...|
|B00361EZUQ|    3.0| 11-2-2010| ASRMT0X0G4UU2|I ordered a i5 im...|mid 2010 yellow t...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    4.0|10-24-2010|A3LB9PHFGNDC4B|This iMac replace...|      Great purchase|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    5.0| 10-2-2010| ANW52NKL43W1S|I do a lot of pho...|First Time iMac B...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    5.0| 09-6-2010| A36C22168X6UQ|After 25+ years o...|My first Mac, lov...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
|B00361EZUQ|    4.0| 09-6-2010|A1JUBRIZMO0RJV|I anxiously await...|Solid, Quick Mac,...|               Apple|         Computers|$277.00|Apple iMac MC509L...|
+----------+-------+----------+--------------+--------------------+--------------------+--------------------+------------------+-------+--------------------+
only showing top 20 rows

Converting from string to date...

In [21]:
dt_format = "MM-dd-yyyy"
elect_df.withColumn('reviewTime', to_date(elect_df.reviewTime, format = dt_format)).show()

23/06/06 18:31:19 ERROR Executor: Exception in task 0.0 in stage 28.0 (TID 548)]
org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '09-2-2009' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failToParseDateTimeInNewParserError(QueryExecutionErrors.scala:1368)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:149)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:176)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage5.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$2.hasNext(WholeStageCodegenExec.scala:779)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.time.format.DateTimeParseException: Text '09-2-2009' could not be parsed at index 3
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949)
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1777)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:168)
	... 18 more
23/06/06 18:31:19 WARN TaskSetManager: Lost task 0.0 in stage 28.0 (TID 548) (192.168.0.29 executor driver): org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '09-2-2009' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failToParseDateTimeInNewParserError(QueryExecutionErrors.scala:1368)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:149)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:176)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage5.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$2.hasNext(WholeStageCodegenExec.scala:779)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.time.format.DateTimeParseException: Text '09-2-2009' could not be parsed at index 3
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949)
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1777)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:168)
	... 18 more

23/06/06 18:31:19 ERROR TaskSetManager: Task 0 in stage 28.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o98.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 28.0 failed 1 times, most recent failure: Lost task 0.0 in stage 28.0 (TID 548) (192.168.0.29 executor driver): org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '09-2-2009' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failToParseDateTimeInNewParserError(QueryExecutionErrors.scala:1368)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:149)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:176)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage5.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$2.hasNext(WholeStageCodegenExec.scala:779)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.time.format.DateTimeParseException: Text '09-2-2009' could not be parsed at index 3
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949)
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1777)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:168)
	... 18 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:354)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:382)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:354)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4177)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4167)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4165)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4165)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3382)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:284)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:323)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '09-2-2009' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failToParseDateTimeInNewParserError(QueryExecutionErrors.scala:1368)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:149)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:176)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage5.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$2.hasNext(WholeStageCodegenExec.scala:779)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.time.format.DateTimeParseException: Text '09-2-2009' could not be parsed at index 3
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949)
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1777)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:168)
	... 18 more

Spark does not infer the date format resulting in nulls. Using the format variable `dt_format` results in an error. I suspect the reviewTime column is not perfectly clean, tried stripping whitespaces...Is there a way to return nulls for improper conversions? Need dates for customer lifetime value.

### A bit of exploration

How many unique items are there?

In [22]:
elect_df.select('asin').distinct().count()

160052

160K unique items...

How many unique customers?

In [23]:
elect_df.select('reviewerID').distinct().count()

728719

725K unique customers...

In [24]:
print('Columns overview')
pd.DataFrame(elect_df.dtypes, columns = ['Column Name','Data type'])

Columns overview

  Column Name Data type
0        asin    string
1     overall     float
2  reviewTime    string
3  reviewerID    string
4  reviewText    string
5     summary    string
6       brand    string
7    main_cat    string
8       price    string
9       title    string

What are the frequency of item by category? (Customer Segment?)

In [25]:
elect_df.groupBy('main_cat').count().orderBy('count', ascending = False).toPandas()

23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
23/06/06 18:32:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

                                             main_cat    count
0                                                None  2389218
1                                           Computers  1502536
2                                     All Electronics   824547
3                                Home Audio & Theater   687968
4                                      Camera & Photo   675708
5                           Cell Phones & Accessories   339949
6                                     Car Electronics    95838
7                                  Camera &amp; Photo    72954
8                            Home Audio &amp; Theater    70595
9                            Tools & Home Improvement    52912
10                                    Office Products    47304
11                                Musical Instruments    46724
12                                  Sports & Outdoors    30506
13                                     Amazon Devices    26572
14                                         Automotive    16107
15                                        Amazon Home    14188
16                            Industrial & Scientific    12033
17                                   GPS & Navigation     8649
18                      Cell Phones &amp; Accessories     8597
19                             Health & Personal Care     8486
20                       Portable Audio & Accessories     8252
21                       Tools &amp; Home Improvement     6513
22                                                        6433
23  <img src="https://images-na.ssl-images-amazon....     5732
24                                       Toys & Games     3818
25                              Sports &amp; Outdoors     3288
26                              Arts, Crafts & Sewing     3148
27                                        Video Games     1759
28                                               Baby      863
29                                     Apple Products      648
30                                           Software      639
31                        Industrial &amp; Scientific      537
32                                              Books      518
33                                         All Beauty      510
34                   Portable Audio &amp; Accessories      372
35                                       Pet Supplies      261
36                                         Appliances      227
37                                     Amazon Fire TV      177
38                          Arts, Crafts &amp; Sewing      117
39  <img src="https://images-na.ssl-images-amazon....      113
40                               GPS &amp; Navigation       93
41                         Health &amp; Personal Care       71
42  <img src="https://m.media-amazon.com/images/G/...       36
43                                         Gift Cards       21
44                                         Fire Phone        8
45                                   Toys &amp; Games        3